<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>qonteofaces</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Black.otf</string>
		<string>Barlow-BlackItalic.otf</string>
		<string>Barlow-Bold.otf</string>
		<string>Barlow-BoldItalic.otf</string>
		<string>Barlow-Extra Bold Italic.ttf</string>
		<string>Barlow-Extra Bold.ttf</string>
		<string>Barlow-ExtraLight.otf</string>
		<string>Barlow-ExtraLightItalic.otf</string>
		<string>Barlow-Italic.otf</string>
		<string>Barlow-Light.otf</string>
		<string>Barlow-LightItalic.otf</string>
		<string>Barlow-Medium.otf</string>
		<string>Barlow-MediumItalic.otf</string>
		<string>Barlow-Regular.otf</string>
		<string>Barlow-SemiBold.otf</string>
		<string>Barlow-SemiBoldItalic.otf</string>
		<string>Barlow-Thin.otf</string>
		<string>Barlow-ThinItalic.otf</string>
		<string>BarlowCondensed-Black.otf</string>
		<string>barlowcondensed-blackitalic.otf</string>
		<string>BarlowCondensed-Bold.otf</string>
		<string>BarlowCondensed-BoldItalic.otf</string>
		<string>BarlowCondensed-ExtraBold.otf</string>
		<string>BarlowCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowCondensed-ExtraLight.otf</string>
		<string>BarlowCondensed-ExtraLightItalic.otf</string>
		<string>BarlowCondensed-Italic.otf</string>
		<string>BarlowCondensed-Light.otf</string>
		<string>BarlowCondensed-LightItalic.otf</string>
		<string>BarlowCondensed-Medium.otf</string>
		<string>BarlowCondensed-MediumItalic.otf</string>
		<string>BarlowCondensed-Regular.otf</string>
		<string>BarlowCondensed-SemiBold.otf</string>
		<string>BarlowCondensed-SemiBoldItalic.otf</string>
		<string>BarlowCondensed-Thin.otf</string>
		<string>BarlowCondensed-ThinItalic.otf</string>
		<string>BarlowSemiCondensed-Black.otf</string>
		<string>BarlowSemiCondensed-BlackItalic.otf</string>
		<string>BarlowSemiCondensed-Bold.otf</string>
		<string>BarlowSemiCondensed-BoldItalic.otf</string>
		<string>barlowsemicondensed-extrabold.otf</string>
		<string>BarlowSemiCondensed-ExtraBoldItalic.otf</string>
		<string>BarlowSemiCondensed-ExtraLight.otf</string>
		<string>barlowsemicondensed-extralightitalic.otf</string>
		<string>barlowsemicondensed-italic.otf</string>
		<string>barlowsemicondensed-light.otf</string>
		<string>BarlowSemiCondensed-LightItalic.otf</string>
		<string>BarlowSemiCondensed-Medium.otf</string>
		<string>barlowsemicondensed-mediumitalic.otf</string>
		<string>BarlowSemiCondensed-Regular.otf</string>
		<string>BarlowSemiCondensed-SemiBold.otf</string>
		<string>BarlowSemiCondensed-SemiBoldItalic.otf</string>
		<string>barlowsemicondensed-thin.otf</string>
		<string>barlowsemicondensed-thinitalic.otf</string>
		<string>Rotters.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>To allow users to take photos, using Qonteo's app, the application warns the users and requests permission to access the device's camera. This feature will be exploited only during the time of usage. While you take your photo and upload it to Qonteo’s store. Your data won't be never exposed neither shared with anyone but you and Qonteo software. Please, we encourage you to review our terms of use and privacy policy at https://dashboard.qonteo.com/privacy-policy</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To select an image from user device to be uploaded to Qonteo's platform, the app alerts the user and requests access to the device's local storage.  This feature will be exploited only during the time of usage. While you take your photo and upload it to Qonteo's software. Your data won't be never exposed neither shared with anyone but you and Qonteo Dashboard software. Please, review our terms of use and privacy policy at https://dashboard.qonteo.com/privacy-policy</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To access device's location, the app warns the user and requests its permission to access device's location. This feature will be exploited only during the time of usage. While you take your photo and upload it to Qonteo's software. Your data won't be never exposed neither shared with anyone but you and Qonteo Dashboard software.Please, we encourage you to review our terms of use and privacy policy at https://dashboard.qonteo.com/privacy-policy</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
</dict>
</plist>
